<p style="align: center;"><img src="https://static.tildacdn.com/tild6636-3531-4239-b465-376364646465/Deep_Learning_School.png", width=600, height=300></p>

<h3 style="text-align: center;"><b>Физтех-Школа Прикладной математики и информатики (ФПМИ) МФТИ</b></h3>

<h2 style="text-align: center;"><b>Библиотека <a href="http://pandas.pydata.org/">pandas</a>: домашнее задание</b></h2>

Перед этим заданием необходимо просмотреть и прорешать соответствующий семинар. Он полезный, правда!

In [0]:
#!pip install pandas

In [1]:
import pandas as pd
import numpy as np

<img src="http://www.keepcalmstudio.com/_gallery/1500/kcs_dd487f3f.png" width=300 height=300>

### Даю DATA: https://www.kaggle.com/mehdidag/black-friday

In [2]:
data = pd.read_csv('./black-friday/BlackFriday.csv')

Посмотрим, что же такое переменная `data`:

In [4]:
data.sample()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
399870,1001532,P00333042,M,18-25,14,C,3,0,5,8.0,NaN,8613
426053,1005604,P00221042,M,36-45,15,C,3,0,1,17.0,NaN,4116
223926,1004482,P00132042,F,36-45,1,A,1,0,13,16.0,NaN,763
229378,1005369,P00137542,M,26-35,15,A,1,0,1,8.0,16.0,15481
120320,1000583,P00329542,F,26-35,0,A,4+,0,1,15.0,16.0,15776

In [5]:
type(data)

pandas.core.frame.DataFrame

---

#### Вопрос

О чём данные? (Hint: https://www.kaggle.com/mehdidag/black-friday/home)

---

#### Основное задание (в тесте надо будет вставлять ответы для этих пунктов):

*Примечание:* не бойтесь гуглить и заглядывать в "Полезные ссылки" для того, чтобы выполнить какие-то задания. Возможно, на семинаре не было какого-то нужного метода, но он находится в поисковике за 2 минуты.

**0).** Сколько всего возрастных категорий?

In [13]:
# Ваш код здесь
len(data.Age.unique())
data.Age.unique()

array(['0-17', '55+', '26-35', '46-50', '51-55', '36-45', '18-25'],
      dtype=object)

**1).** Сколько строк с мужчинами из категории города A? (речь не об уникальных ID мужчин, а о количестве строк)

In [12]:
# Ваш код здесь
len(data[(data.City_Category == 'A') & (data.Gender == 'M')])

109831

**2).** Сколько женщин от 46 до 50, потративших (столбец Purchase) больше 20000 (условных единиц, в данном случае)?   (речь не об уникальных ID, а о количестве строк)

In [15]:
# Ваш код здесь
len(data[(data.Age == '46-50') & (data.Gender == 'F') & (data.Purchase > 20000)])

270

**3).** Сколько NaN'ов в столбце Product_Category_3?

In [20]:
# Ваш код здесь
len(data[data.Product_Category_3.isnull()])

373299

**4).** Какую долю (вещественное число от 0 до 1, округлить до 4-го знака) от всех покупателей составляют ВМЕСТЕ мужчины от 26 до 35 лет и женщины старше 36 лет (то есть нужно учесть несколько возрастных категорий)? (речь не об уникальных ID, а о количестве таких строк)

In [50]:
# Ваш код здесь
data.Age.unique()
len(data[((data.Gender == 'M') & (data.Age == '26-35')) | ((data.Gender == 'F') & (data.Age.isin(['36-45', '46-50', '51-55', '55+'])))]) / len(data[data.Purchase > 0])

0.4077201963625676

---

Больше про pandas можно найти по этом полезным ссылкам:

* Официальные туториалы: http://pandas.pydata.org/pandas-docs/stable/tutorials.html

* Статья на Хабре от [OpenDataScience сообщества](http://ods.ai/)**:** https://habr.com/company/ods/blog/322626/

* Подробный гайд: https://media.readthedocs.org/pdf/pandasguide/latest/pandasguide.pdf

Главное в работе с новыми библиотеками -- не бояться тыкать в разные функции, смотреть типы возвращаемых объектов и активно пользоваться Яндексом, а ещё лучше понимать всё из docstring'а (`Shift+Tab` при нахождении курсора внутри скобок функции).